{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "neovim"
brew "tmux"
brew "ripgrep"
brew "jq"
brew "pyenv"
brew "powerlevel10k"
brew "docker"
brew "koekeishiya/formulae/yabai"
brew "koekeishiya/formulae/skhd"
brew "zsh-vi-mode"
cask "alfred"
cask "google-chrome"
cask "brave-browser"
cask "dbeaver-community"
cask "slack"
cask "obsidian"
cask "insomnia"
cask "alt-tab"

EOF
{{ end -}}
