{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "neovim"
brew "tmux"
brew "ripgrep"
brew "jq"
brew "pyenv"
brew "powerlevel10k"
brew "zsh-vi-mode"
brew "fzf"
brew "carapace"
cask "google-chrome"
cask "brave-browser"
cask "dbeaver-community"
cask "slack"
cask "obsidian"
cask "insomnia"
cask "alt-tab"
cask "raycast"

EOF
{{ end -}}
